.map{
    width: 100%;
}
.mapContainer{
    display: flex;
    height: 100vh;
}
.LeftPanel{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    width: 300px;
}
.form{
    padding: 15px;
}
.form .form-group{
    margin-bottom: 15px;
}
#popup{
    padding: 15px;
    border-top: 1px solid #ccc;
}
#popup-img{
    width: auto;
    max-width: 100%;
    margin-bottom: 20px;
}